* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    /* overflow: hidden; */
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

/* .hidden {
    display: none;
} */

.form-control {
    width: 100%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #6db33f;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

button.accent {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#username-page {
    text-align: center;
}

.username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.username-page-container .username-submit {
    margin-top: 10px;
}


#chat-page {
    position: relative;
    bottom: 0px;
    padding: 0px 10px;
}

.chat-container {
    max-width: 40%;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    position: relative;
    height: 20rem;
    max-height: 400px;
    display: inline-block;
    width: 40%;
}

#chat-page ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 20px 0px 20px;
    height: calc(100% - 97px);
}


#chat-page ul li {
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #f4f4f4;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 68px;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: #333;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: #43464b;
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    padding: 10px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 270px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}
  
  .item {
    display: block;
    position: absolute;
    background: #000;
    width: 250px;
    height: 200px;
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
    border: 10px solid transparent;
    border-image-source: linear-gradient(45deg, #f06, #0cf, #f06, #0cf);
    border-image-slice: 1;
    animation: border-animation 3s infinite linear;
  }

  @keyframes border-animation {
    0%, 100% {
      border-image-source: linear-gradient(45deg, #f06, #0cf, #f06, #0cf);
    }
    25% {
      border-image-source: linear-gradient(45deg, #0cf, #f06, #0cf, #f06);
    }
    50% {
      border-image-source: linear-gradient(45deg, #f06, #0cf, #f06, #0cf);
    }
    75% {
      border-image-source: linear-gradient(45deg, #0cf, #f06, #0cf, #f06);
    }
  }
  /* 음악리스트 */
  .a {
    transform: rotateY(0deg) translateZ(250px);
  }
  .b {
    transform: rotateY(60deg) translateZ(250px);
  }
  .c {
    transform: rotateY(120deg) translateZ(250px);
  }
  .d {
    transform: rotateY(180deg) translateZ(250px);
  }
  .e {
    transform: rotateY(240deg) translateZ(250px);
  } 
  .f {
    transform: rotateY(300deg) translateZ(250px);
  }
  
  .info-container {
    padding: 10px;
  }
  
  .music-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 7px;
  }
  
  .music-details {
    font-size: 14px;
    color: #eae6e6;
  }
  
  .detail-item {
    margin-bottom: 5px;
  }

  .next, .prev {
    color: #444;
    position: absolute;
    top: 100px;
    padding: 1em 2em;
    cursor: pointer;
    background: #CCC;
    border-radius: 5px;
    border-top: 1px solid #FFF;
    box-shadow: 0 5px 0 #999;
    transition: box-shadow 0.1s, top 0.1s;
  }
  .next:hover, .prev:hover { color: #000; }
  .next:active, .prev:active {
    top: 104px;
    box-shadow: 0 1px 0 #999;
  }
  .next { right: 5em; }
  .prev { left: 5em; }

  .pickedMusic{
    display: list-item;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
  }
  .pickbtn{
    display: inline-flex;
    position: absolute;
    border-radius: 10px;
    right: 0px;
    bottom: 0px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    height: 30px;
    min-height: fit-content;
    width: fit-content;
  }
  .pickbtn:hover {
    background-color: #8b7bd4;
    box-shadow: 0px 15px 20px rgba(163, 200, 185, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .showMusicName{
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;
  }

@media screen and (max-width: 730px) {

    .chat-container {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
    }

    #chat-page ul {
        height: calc(100% - 97px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }

}
/* 유저 리스트 */
.user-info {
    max-width: 40%;
    box-shadow: rgba(0, 0, 0, 0.27) 0px 1px 11px;
    position: relative;
    height: 20rem;
    max-height: 400px;
    display: inline-block;
    width: 30%;
    vertical-align: bottom;
    margin-left: 1%;
    border-radius: 10px;
}

.user-item {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

.userImg {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: 5%;
  }
.captainlogo{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 2%;
}
  .nickname {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 5%;
  }

  /* 레디 버튼 관련 */
  .button {
    width: 100px;
    height: 45px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 5%;
    }
  .startbutton{
    width: 100px;
    height: 45px;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #f5f2f2;
    background-color: #ea4c4c;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(221, 116, 116, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 5%;
    }
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .startbutton:hover {
    background-color: #e277a0;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }