
/* 모든페이지 스크롤바 제거 */


  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh;
  background: #050801;
  font-family: 'Jua', sans-serif;
} */

h1 {
  color: blue;
}

.white-text p {
  color: white;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  filter: brightness(1.3);  /* 밝기를 150%로 설정 */
}
/* a태그 손대면 디짐 */
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
   
}
a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
/* 버튼 css 끝  */

.mainword{
  color:aqua;
  display: flex;
  justify-content: center;  /* 가로 중앙 정렬 */
  top: 10%;      /* 세로 중앙 정렬 */
}


/* 로그인 css */
.login {
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
  width: fit-content;
  display: flex;
  position: absolute;
  right: 150px;
  top: 10px;
}


.login-container {
  position: absolute;
  top: 10px;  /* adjust as needed */
  right: 10px; /* adjust as needed */
}

.login:hover {
  background-color: #f5f5f5;
}

/* 회원가입 css */
.signup {
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
  width: fit-content;
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}

.signup-container {
  position: absolute;
  top: 10px;  /* adjust as needed */
  right: 10px; /* adjust as needed */
}

.signup:hover {
  background-color: #f5f5f5;
}



/* 로그아웃버튼 css */
.logout {
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.2s;
  width: fit-content;
  display: flex;
  position: absolute;
  right: 150px;
  top: 10px;
}


.logout-container {
  position: absolute;
  top: 10px;  
  right: 10px; 
}

.logout:hover {
  background-color: #f5f5f5;
}

/* 회원탈퇴 css */
.signout {
  padding: 10px 20px;
  border: 1px solid red;
  cursor: pointer;
  transition: background-color 0.2s;
  width: fit-content;
  display: flex;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.signout-container {
  position: absolute;
  bottom: 10px;  /* adjust as needed */
  right: 10px; /* adjust as needed */
}

.signout:hover {
  background-color: red;
}


/* 회원정보 css */
.userinfo {
  padding: 10px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  /* transition: background-color 0.2s; */
  width: fit-content;
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}

.userinfo-container {
  position: absolute;
  bottom: 10px;  /* adjust as needed */
  right: 10px; /* adjust as needed */
}

.userinfo:hover {
  /* background-color: #f5f5f5; */
}
